.sidebar {
  background-color: #393e46;
  width: 60px;
  transition: width 0.3s ease;
  overflow-x: hidden;
  /* color: #eeeeee; */
  position: fixed;
  height: 100vh;
  z-index: 1;
}

.sidebar.expanded {
  width: 200px;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-collapse {
  align-items: flex-start;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #676767;
  }

  .icon {
    margin-right: 10px;
  }

  &.logout {
  }
}

.content {
  flex: 1;
  padding: 20px;
}

.navbar-nav {
  width: 100%;
  text-align: left; /* Align links to the left */
}

.nav-link {
  padding: 1rem; /* Adjust padding for better spacing */
}

/* Optional: Add styling for expanded state */
.sidebar.expanded .navbar-nav {
  width: 200px; /* Adjust width for expanded state */
}
