extends baseEmail

block content
  //- p Hi #{firstName},
  p Your OTP is #{OTP}
  p (Website for this action not yet implememnted.)
  
  p If you didn't forget your password, please ignore this email!
