.containerz{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: #fff;
    padding-bottom: 30px;
    width: 600px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.textz{
    font-size: 48px;
    font-weight: 700;
}
.textsub{
    font-weight: 500;
    font-size: 30px;
}
.underlinez{
    width: 80px;
    height: 2px;
    background: black;
    border-radius: 9px;
    margin: 10px auto;
}
.inputsz{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.inputz{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
.inputz input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 18px;
}
.forgot-passwordz{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-passwordz span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-containerz{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submitz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}